body
{
    background: #e6d5bd;
}
#title img
{
    float:left;
    height: 100px;
    padding-left: 2%;
}
img
{
    height: 30px;
    margin-right: 10px;
}
#myfooter
{
    width: 100%;
    background-color: white;
    bottom: 0;
}
.main-title
{
    text-decoration: none;
    color: #333;
}
.main-title:hover
{
    text-decoration: none;
    color: #444;
}